body{
	background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTY2MTU3Ny13aWtpbWVkaWEtaW1hZ2Uta293YXBlZWouanBn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}

.Message{
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	background: black;
}


.Logo{
	width: 100vw;
	height: 45vh;
	display: flex;
	align-items: end;
	justify-content: center;
}

.Logo img{
	max-width: 20%;

}

.Buttons{
	width: 100vw;
	height: 45vh;
	display: flex;
	align-items: start;
	justify-content: center;
}


.Log_In, .Sign_Up{
	margin: 20px;
	padding: 5px;
	width: 20%;
	height: 15%;
	display: flex;
}




.Log_In a, .Sign_Up a{
	width: 100%;
	text-decoration: none;
	color: whitesmoke;
	background: black;
	border: 2px solid whitesmoke;
	font-size: 20px;
	font-family: Arial;
	display: flex;
	align-items: center;
	justify-content: center;

}

.Log_In a:hover, .Sign_Up a:hover{
	cursor: pointer;

}


@media all and (max-width:1000px){
	.Logo img{
		max-width: 30%;
		max-width: 30%;
	}
}
